
<div class="event-card clearfix">
  <div class="event-card__image">
    {% include "atoms-calendar-icon" %}
  </div>
  <div class="event-card__detail">
  <h3><a href=#>{{ event.title }}</a></h3>
  </div>
  <div class="event-card__date-time">
    <p>Date: {{ event.month.long }} {{ event.day.long }}, {{ event.year.long }}</p>
      {% if(event.hour) %}
    <p>Time: {{ event.hour.short }}:{{ event.minute.long }}{{ event.hour.ampm }}</p>
      {% endif %}
  </div>
</div>
