<div class="date-location-mini">
    <p class="date-location-mini__date"><strong>Date: </strong>{{ month.long }} {{ day.long }}, {{ year.long }}</p>
    <p class="date-location-mini__time"><strong>Time: </strong>{{ hour.short }}:{{ minute.long }}{{ hour.ampm }}</p>
    <p class="date-location-mini__place"><strong>Place: </strong>{{ text.event.location }}</p>
</div>
