
<div class="event-teaser clearfix">
    <div class="event-teaser__image">
        {% include "atoms-calendar-icon" %}
    </div>
    <div class="event-teaser__title">
        <h3><a href=#>{{ event.title }}</a></h3>
    </div>
    <div class="event-teaser__date-time">
        <p><time>{{ event.month.long }} {{ event.day.long }}, {{ event.year.long }}{% if event.hour %}, {{ event.hour.short }}:{{ event.minute.long }}{{ event.hour.ampm }}{% endif %}</time></p>
    </div>
    <div class="event-teaser__detail">
        <p>{{ event.paragraph }}</p>
    </div>
</div>
