<h2>Publication with Date</h2>
<div class="publication-teaser">
    <h3 class="publication-teaser__title"><cite>{{ html.a(text.publicationShortTeaser.link) }}</cite></h3>
    <p class="publication-teaser__source">{{ text.publicationShortTeaser.name }}. <em>{{ text.publicationShortTeaser.source }}</em>. {{ text.publicationShortTeaser.year }}.</p>
</div>

<h2>Publication Citation from Site Builder</h2>
<p class="publication-teaser">
    <cite>{{ html.a(text.publicationShortTeaser.citation) }}</cite>
</p>

<h2>Publication with Title Linked</h2>
<p class="publication-teaser">Wilson-Edell KA, Yevtushenko MA, Rothschild DE, Rogers AN, Benz CC. <a href="#"><cite>mTORC1/C2 and pan-HDAC inhibitors synergistically impair breast cancer growth by convergent AKT and polysome inhibiting mechanisms.</cite></a> <em>Breast Cancer Res Treat.</em> 2014 Apr; 144(2):287-98.</p>
