<div class="publication-teaser">
    <h3 class="publication-teaser__title"><cite>{{ html.a(text.publicationShortTeaser.link) }}</cite></h3>
    <p class="publication-teaser__source">{{ text.publicationShortTeaser.name }}. <em>{{ text.publicationShortTeaser.source }}</em>. {{ text.publicationShortTeaser.year }}.</p>
  </div>
</div>

<div class="publication-teaser">
    <h3 class="publication-teaser__title"><cite>{{ html.a(text.publicationShortTeaser.citation) }}</cite></h3>
  </div>
</div>
